.custom-link {
    display: flex;
    
    a {
        color: whitesmoke;
        min-width: 100px;
        text-align: center;
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        opacity: 0.8;
    }

    a:hover {
        opacity: 1; 
        transform: scale(1.1);
    }
}