.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 66px);
  .login-form {
        min-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f5f5f5;
        border-radius: .2rem;
        padding: 1rem;
        h2 {
            margin-bottom: 1.5rem;
            text-align: center;
        }
        .form-group {
            margin-bottom: 1rem;
            label {
                width: 100%;
                display: block;
                margin-bottom: .5rem;
            }
            input {
                width: 100%;
                padding: .5rem;
                border-radius: .2rem;
                border: 1px solid #ccc;
                font-size: 1rem;
            }
        }
        .error-message {
            color: red;
        }
        .separator {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            div {
                width: 44%;
                border-bottom: 2px solid #000000;
            }
        }
        .btn-cotainer {
            display: flex;
            justify-content: center;
        }
        .signup-link-container {
            display: flex;
            justify-content: center;
            margin: 1rem 0;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}