.main {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 2rem 2rem 0 2rem;
    min-height: calc(100vh - 64px);

    .action {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .info {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 764px) {
    
    .main {
        .action {
            grid-template-columns: 1fr;
        }
    }
}