.main {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 2rem 2rem 0 2rem;
    min-height: calc(100vh - 64px);

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
    }
}